.footer{
    width:100%;
    background-color: #002529;
    color: #ffffff;
    height: 200px;
    padding-top:50px;

    .title{
        font-size:15px;
        color:#cdcdcd;
    }


        .footer-left-btns{
            margin-right:125px;

            h3{
                margin-top:25px;
            }
            .about-btn{
                margin-left: 40px;
            }
        }
        .footer-left-info{
            line-height: 25px;
        }

        .footer-right{
            align-items: flex-end;
            .social{
                margin-bottom:50px;
                svg{
                    margin-left:15px;
                    width:25px;
                    height:20px;
                }
            }
        }

}