.reviews{
    width:100%;
    background-color: #004047;
    height:750px;
    padding-top:140px;
    color: #ffffff;

    h1{
        font-size: 3rem;
            text-align: center;
            span{
                color: #79c8c7;
            }
        }

    }

    .users-reviews{
        margin-top: 100px;
       

        .review{
            text-align: center;

            h3{
                margin:20px 0 10px;
                color: #79c8c7;
            }

            i{
                font-size: 15px;
            }
        }
    }
