.add-task {
    margin-bottom: 10px;
    height:40px;
    border: 1px solid #acacac;
    border-radius: 8px;
    width: 30%;
    margin: 0 auto 10px;

    input{
        border:0;
        background-color: inherit;
        height:100%;
    }

    button{
        right: 0;
        color: #ffffff;
        background-color: #d16b3b;
        border: 0;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        width: 40px;
        height:100%;
        cursor: pointer;
    }
}

.task-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 10px;
    margin-bottom: 5vh;
}
