*{
    box-sizing: border-box;
    margin:0;
    outline: none;
}

html{
    font-family: Livvic-Medium;
}

h3,
button{
    font-size: 18px;
    font-weight: 600;
}


body{
    background-color: #ececec;
    min-height: 100vh;
}

button{
    background-color: inherit;
    border: 2px solid #ffffff;
    border-radius: 24px;
    width:150px;
    height:50px;
    font-size: 18px;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width:1440px;
}
.inner-container{
    margin-left:165px;
    margin-right:165px;
    height:100%;
}