// FLEX
.flex{
    display: flex;
}

.a-center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.grow{
    flex-grow: 1;
}

// POSITIONS

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.fixed{
    position: fixed;
}