// FLEX
.flex{
    display: flex;
}

.a-center{
    align-items: center;
}
.a-baseline{
    align-items: baseline;
}
.a-flex-end{
    align-items: flex-end;
}

.j-center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

.grow{
    flex-grow: 1;
}

// POSITIONS

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.fixed{
    position: fixed;
}